<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v2 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <!-- Image column -->
                <div class="col-md-6">
                    <!-- Hide the image on medium-sized devices -->
                    <img src="/photos/formIcon.png" alt="" class="w-100 h-100 d-none d-md-inline">
                </div>
                <!-- Form column -->
                <div class="col-md-6">
                    <!-- Your form content goes here -->
                    <div class="inner">
                        <form action="/login" method="post">
                            <h3>Login Form</h3>
                            <div class="form-wrapper">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control">
                            </div>
                            <div class="form-wrapper">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I accept the Terms of Use & Privacy Policy.
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>Not a member? <a href="/register" class="text-danger">Register</a></p>
                            <a href="/number" class="text-danger">
                                <p>Login with OTP</p>
                            </a>
                            {{#if loginErr}}
                            <p class="bg-danger text-white text-center">Invalid user or password</p>
                            {{/if}}
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
