<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v2 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<div class="wrapper" >
						<div class="container"><img src="images/lo.gif" alt=""></div>

			<div class="inner">
				<form action="/send" method="post">
					<h3>OTP Login</h3>
					<div class="form-group">
						<div class="form-wrapper">
							{{!-- <label for="">First Name</label>
							<input type="text" class="form-control"> --}}
						</div>
						<div class="form-wrapper">
							{{!-- <label for="">Last Name</label>
							<input type="text" class="form-control"> --}}
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">phone number</label>
						<input type="text" name="phonenumber" class="form-control">
					</div>
					
					
					<div class="checkbox">
						<label>
							<input type="checkbox"> I accept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
										 				{{#if loginErr}}
<p class="bg-danger text-white text-center "  >invalid phonenumber</p>
{{/if}}
					 <p>Not a member? <a href="/register" class="text-danger">Register</a></p>
					 				
{{!-- <p class="bg-danger text-white text-center "  >invalid user or password</p> --}}

					<button type="submit">submit</button>
	
				</form>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<script>
	var phoneError = document.getElementById('phone-error');
	function validatePhone() {
    var phone = document.getElementById('phone').value;
    if (phone.length == 0) {
        phoneError.innerHTML ='phone number is required';
        phoneError.style.color='red';
        return false;
    }
    if (phone.length !==10) {
        phoneError.innerHTML ="phone number should be 10 digits";
        phoneError.style.color='red';
        return false;
    }
   

   

    phoneError.innerHTML = 'valid';
    phoneError.style.color = 'green';
    return true;
}
</script>